# Docker Compose file Reference (https://docs.docker.com/compose/compose-file/)
#version: '3.9'

services: # <-- Define services
  app: # <-- App backend service
    # This service depends on postgres. Start that first.
    depends_on:
      db:
        condition: service_healthy
      keycloak:
        condition: service_started
    image: spring-boot-keycloak-docker-postgres:latest
    # Give the container the name web-app. You can change to something else.
    container_name: web-app
    #hostname: web-app
    # Forward the exposed port 8080 on the container to port 8080 on the host machine
    ports:
      - 8088:8080
    networks:
      - backend
   # entrypoint: [ "java", "-Xms512m", "-Xmx1g", "-jar" ]
  db: # <-- Database Service (Postgres)
    # Use the Docker Image postgres. This will pull the 12 version.
    image: postgres:14-alpine
    # Give the container the name postgres-db. You can change to something else.
    container_name: postgres-db
    restart: always
    # Set a volume some that database is not lost after shutting down the container.
    # I used the name postgres-data, but you can change it to something else.
    volumes:
      - postgres_data_keycloak:/var/lib/postgresql/data
    networks:
      - backend
    # Maps port 5432 (localhost) to port 5432 on the container. You can change the ports to fix your needs.
    ports:
      - "5432:5432"
    # Set up the username, password, and database name. You can change these values.
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: automobiles
      PGDATA: /var/lib/postgresql/data/pgdata
    healthcheck:
      test: "pg_isready -U postgres"
  # Auth service
  keycloak:
    image: quay.io/keycloak/keycloak:22.0.1
    container_name: keycloak-auth
    command: start-dev
    ports:
      - 8180:8080
    networks:
      - backend
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KC_HEALTH_ENABLED: true
    depends_on:
        - keycloak-db
    #volumes:
    #  - /home/keycloak/automobile-realm.json:/opt/keycloak/data/import/automobile-realm.json
  # Database Service (Postgres) for Keycloak
  keycloak-db:
    image: postgres:14-alpine
    container_name: keycloak-db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_keycloak:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    networks:
      - backend

networks:
  backend:
    name: app
    driver: bridge

volumes:
  postgres_data_keycloak:
    driver: local
